.booking {
  display: grid;
  justify-content: center;

  @media (min-width: $vp-1366) {
    grid-template-columns: 520px 520px;
    grid-template-rows: 50% 50%;
    padding: 0;
    background-image: url("../img/desktop/background-request-desktop.webp");
    background-repeat: no-repeat;
    background-size: 100% 555px;
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: 502px 502px;
    grid-template-rows: 50% 50%;
    padding: 0;
    background-image: url("../img/desktop/background-request-desktop.webp");
    background-repeat: no-repeat;
    background-size: 100% 555px;
  }

  @media (min-width: $vp-768) {
    grid-template-columns: 100%;
    padding: 88px 170px 100px 170px;
    background-image: url("../img/tablet/background-request-tablet.webp");
    background-repeat: no-repeat;
    background-size: 100% 805px;
  }

  @media (min-width: $vp-320) {
    grid-template-columns: 100%;
    padding: 60px 15px 65px 15px;
    background-image: url("../img/mobile/background-request-mobile.webp");
    background-repeat: no-repeat;
    background-size: 100% 760px;
  }
}

.booking h2 {
  margin: 0;
  color: #011c40;
  font-weight: 700;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: start;
    padding: 213px 0 30px 0;
    font-size: 40px;
    line-height: 150%;
  }

  @media (min-width: $vp-768) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    padding: 0 0 5px 0;
    font-size: 34px;
    line-height: 150%;
  }

  @media (min-width: $vp-320) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    padding: 0 0 15px 0;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking p {
  margin: 0;
  color: #011c40;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: start;
    padding: 2px 150px 200px 0;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-768) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding: 0 40px 52px 40px;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-320) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding: 0 20px 30px 20px;
    font-size: 16px;
    line-height: 140%;
  }
}

.booking button {
  color: #011c40;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  font-family: "Montserrat", "Arial", sans-serif;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-1024) {
    padding: 11px 0 11px 0;
    margin: 10px 50px 50px 50px;
  }

  @media (min-width: $vp-768) {
    padding: 11px 0 11px 0;
    margin: 10px 50px 50px 50px;
  }

  @media (min-width: $vp-320) {
    padding: 11px 0 11px 0;
    margin: 12px 30px 40px 30px;
  }
}
