.booking {
  @media (min-width: $vp-1366) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: url("../img/desktop/background-request-desktop.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 45px;
    background-image: url("../img/desktop/background-request-desktop.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/tablet/background-request-tablet.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: $vp-320) {
    padding: 60px 15px 65px 15px;
    background-image: url("../img/mobile/background-request-mobile.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.booking div {
  @media (min-width: $vp-1024) {
    margin: 0;
    width: 493px;
  }

  @media (min-width: $vp-768) {
    margin: 0 auto;
    width: 419px;
  }

  @media (min-width: $vp-320) {
    margin: 0 auto;
    width: 257px;
  }
}

.booking h2 {
  margin: 0;
  color: #011c40;
  font-weight: 700;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    text-align: start;
    padding: 0 144px 30px 0;
    font-size: 40px;
    line-height: 150%;
  }

  @media (min-width: $vp-768) {
    text-align: center;
    padding: 0 0 5px 0;
    font-size: 34px;
    line-height: 150%;
  }

  @media (min-width: $vp-320) {
    text-align: center;
    padding: 0 0 15px 0;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking p {
  margin: 0;
  color: #011c40;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    text-align: start;
    padding: 2px 0 0 0;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-768) {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-320) {
    text-align: center;
    padding: 0 20px 30px 20px;
    font-size: 16px;
    line-height: 140%;
  }
}

.booking button {
  width: 100%;
  color: #011c40;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  font-family: "Montserrat", "Arial", sans-serif;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-1024) {
    padding: 11px 0 11px 0;
    margin: 10px 0 50px 0;
  }

  @media (min-width: $vp-768) {
    max-width: 303px;
    padding: 11px 0 11px 0;
    margin: 10px 0 50px 0;
  }

  @media (min-width: $vp-320) {
    padding: 11px 0 11px 0;
    margin: 12px 0 40px 0;
  }
}
