.control-checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  background-color: #f9fbfd;
  border: solid 2px transparent;
  cursor: pointer;

  @media (min-width: $vp-1024) {
    top: 0;
    left: 0;
  }

  @media (min-width: $vp-768) {
    top: 0;
    left: 0;
  }

  @media (min-width: $vp-320) {
    top: 1px;
    left: 0;
  }
}

.control-checkbox:hover {
  border: solid 2px #7cbcfd;
}

input[type="checkbox"]:checked + .control-checkbox::before {
  position: absolute;
  top: -1px;
  left: 4px;
  width: 7px;
  height: 11px;
  border: 1px solid #101a56;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  content: "";
}
