.footer-nav {
  background-color: #011c40;

  @media (min-width: $vp-1440) {
    display: flex;
    align-items: center;
    padding: 50px 104px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    padding: 50px 45px;
  }

  @media (min-width: $vp-320) {
    display: block;
    padding: 40px 0 40px 15px;
  }
}

.footer-nav img {
  @media (min-width: $vp-1440) {
    width: 70px;
    height: 38px;
    padding-right: 40px;
  }

  @media (min-width: $vp-768) {
    padding-right: 25px;
    width: 38px;
    height: 20px;
  }

  @media (min-width: $vp-320) {
    padding-right: 0;
    width: 42px;
    height: 22px;
  }
}

.footer-nav__list {
  margin: 0;
  list-style-type: none;

  @media (min-width: $vp-1440) {
    display: flex;
    padding: 0;
  }

  @media (min-width: $vp-768) {
    display: flex;
    padding: 0;
  }

  @media (min-width: $vp-320) {
    padding: 27px 0 7px 0;
  }
}

.footer-nav__list a {
  color: #f9fbfd;
  font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;


  @media (min-width: $vp-1440) {
    padding-right: 33px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $vp-768) {
    padding-right: 23px;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 15px;
  }

  @media (min-width: $vp-320) {
    display: block;
    padding-bottom: 17px;
    padding-right: 0;
    font-size: 12px;
    line-height: 15px;
  }
}

.footer-nav__social {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-nav__social li {
  display: flex;
  align-items: center;
  padding-left: 28px;

  @media (min-width: $vp-320) {
    padding-left: 0;
  }
}

.footer-nav__social .footer-nav__social-facebook {
  @media (min-width: $vp-1440) {
    padding-right: 28px;
    width: 11px;
    height: 20px;
  }

  @media (min-width: $vp-768) {
    padding-right: 23px;
    width: 9px;
    height: 16px;
  }

  @media (min-width: $vp-320) {
    width: 9px;
    height: 16px;
  }
}

.footer-nav__social .footer-nav__social-instagram {
  @media (min-width: $vp-1440) {
    padding-left: 0;
    padding-right: 28px;
    width: 20px;
    height: 20px;
  }

  @media (min-width: $vp-768) {
    padding-left: 0;
    padding-right: 23px;
    width: 16px;
    height: 16px;
  }

  @media (min-width: $vp-320) {
    padding-left: 23px;
    width: 16px;
    height: 16px;
  }
}

.footer-nav__social .footer-nav__social-twitter {
  @media (min-width: $vp-1440) {
    padding-left: 0;
    width: 20px;
    height: 17px;
  }

  @media (min-width: $vp-768) {
    padding-left: 0;
    width: 16px;
    height: 13px;
  }

  @media (min-width: $vp-320) {
    padding-left: 23px;
    width: 16px;
    height: 13px;
  }
}
