form {
  background: #011c40;

  @media (min-width: $vp-1024) {
    width: 403px;
    margin: 0;
  }

  @media (min-width: $vp-768) {
    width: 403px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media (min-width: $vp-320) {
    width: 100%;
    max-width: 403px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

form h3 {
  margin: 0;
  color: #f9fbfd;
  font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    text-align: start;
    padding: 45px 0 26px 0;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-768) {
    text-align: start;
    padding: 45px 0 26px 0;
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $vp-320) {
    text-align: center;
    padding: 35px 0 28px 0;
    font-size: 18px;
    line-height: 140%;
  }
}

form label {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

form input {
  width: 100%;
  height: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: "Montserrat", "Arial", sans-serif;
  border: none;

  @media (min-width: $vp-1024) {
    padding: 0 120px 0 15px;
  }

  @media (min-width: $vp-768) {
    padding: 0 120px 0 15px;
  }

  @media (min-width: $vp-320) {
    padding: 0 48px 0 14px;
  }
}

form span {
  color: #f9fbfd;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
}
