.main-nav {
  background: #011c40;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-width: $vp-1024) {
    min-height: 650px;
    background-image: url("../img/desktop/antarctic-desktop.webp");
    background-repeat: no-repeat;
    background-size: 100% 658px;
  }

  @media (min-width: $vp-768) {
    min-height: 638px;
    background-image: url("../img/tablet/antarctic-tablet.webp");
    background-repeat: no-repeat;
    background-size: 100% 638px;
  }

  @media (min-width: $vp-320) {
    min-height: 500px;
    background-image: url("../img/mobile/antarctic-mobile.webp");
    background-repeat: no-repeat;
    background-size: 100% 500px;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}

.main-nav--opened .main-nav__container {
  @media (min-width: $vp-1024) {
    display: flex;
  }

  @media (min-width: $vp-768) {
    display: flex;
  }

  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav--opened div {
  @media (min-width: $vp-1024) {
    display: block;
  }

  @media (min-width: $vp-768) {
    display: block;
  }

  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav img {
  @media (min-width: $vp-1024) {
    width: 70px;
    height: 38px;
    padding: 35px 0 0 0;
  }

  @media (min-width: $vp-768) {
    width: 38px;
    height: 20px;
    padding: 30px 0 0 45px;
  }

  @media (min-width: $vp-320) {
    width: 42px;
    height: 22px;
    padding: 20px 0 0 15px;
  }
}

.main-nav__container-list {
  list-style-type: none;
  margin: 0;

  @media (min-width: $vp-1024) {
    display: flex;
    padding: 42px 0 0 0;
  }

  @media (min-width: $vp-768) {
    display: flex;
    padding: 28px 22px 0 0;
  }

  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav__container a {
  color: #f9fbfd;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;

  @media (min-width: $vp-1024) {
    margin-left: 33px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  @media (min-width: $vp-768) {
    margin-left: 23px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}

.main-nav h1 {
  margin: 0;
  color: #f9fbfd;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;

  @media (min-width: $vp-1024) {
    padding: 195px 0 0 95px;
    font-size: 54px;
    line-height: 66px;
    text-shadow: 0 4px 4px #00000040;
  }

  @media (min-width: $vp-768) {
    padding: 216px 0 0 45px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (min-width: $vp-320) {
    padding: 134px 40px 0 15px;
    font-size: 36px;
    line-height: 45px;
  }
}

.main-nav p {
  margin: 0;
  color: #f9fbfd;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $vp-1024) {
    padding: 12px 0 0 95px;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0 4px 4px #00000040;
  }

  @media (min-width: $vp-768) {
    padding: 12px 0 0 45px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $vp-320) {
    padding: 10px 106px 0 15px;
    font-size: 16px;
    line-height: 22px;
  }
}

.main-nav--closed .main-nav__toggle-closed {
  @media (min-width: $vp-1024) {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    position: absolute;
    top: 23px;
    right: 15px;
    display: block;
    padding: 0;
    width: 24px;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}

.main-nav--closed .main-nav__toggle-closed::before {
  @media (min-width: $vp-320) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #f9fbfd;
    box-shadow: 0 6px 0 0 #f9fbfd, 0 12px 0 0 #f9fbfd;
  }
}

.main-nav--closed .main-nav__mobile {
  display: none;
}

.main-nav--closed .main-nav__toggle-opened {
  display: none;
}

.main-nav--opened .main-nav__mobile {
  @media (min-width: $vp-1024) {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 285px;
    height: 568px;
    background-color: #f9fbfd;
    box-shadow: -60px -20px 40px -7px rgba(0, 43, 102, 0.5);
  }
}

.main-nav__mobile-list {
  padding: 42px 0 0 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__mobile-list li {
  padding: 0 0 26px 25px;
  color: #011c40;
}

.main-nav__mobile-list a {
  font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.main-nav--opened .main-nav__toggle-closed {
  @media (min-width: $vp-1024) {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle-opened {
  @media (min-width: $vp-1024) {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    position: absolute;
    top: 23px;
    right: 15px;
    display: block;
    padding: 0;
    width: 13px;
    height: 13px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 13px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#000000, 30%);
    }
  }
}

.main-nav--nojs {
  @media (min-width: $vp-1024) {
    margin-top: 0;
  }

  @media (min-width: $vp-768) {
    margin-top: 0;
  }

  @media (min-width: $vp-320) {
    margin-top: 568px;
  }
}

.main-nav--nojs .main-nav__mobile {
  @media (min-width: $vp-1024) {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    display: block;
    position: absolute;
    top: -568px;
  }
}


.main-nav--nojs .main-nav__toggle-closed {
  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav div {
  max-width: 1160px;
  margin: 0 auto;
}
