.social__facebook a {
  @media (min-width: $vp-1024) {
    margin-left: 28px;
    margin-right: 0;
  }

  @media (min-width: $vp-768) {
    margin-left: 23px;
    margin-right: 0;
  }

  @media (min-width: $vp-320) {
    margin-left: 0;
    margin-right: 23px;
  }
}

.social__facebook-svg {
  fill: #ffffff;

  @media (min-width: $vp-1024) {
    width: 11px;
    height: 20px;
  }

  @media (min-width: $vp-768) {
    width: 9px;
    height: 16px;
  }

  @media (min-width: $vp-320) {
    width: 9px;
    height: 16px;
  }
}

.social__facebook-svg:hover {
  fill: #7cbcfd;
}

.social__instagram a {
  @media (min-width: $vp-1024) {
    margin-left: 28px;
    margin-right: 0;
  }

  @media (min-width: $vp-768) {
    margin-left: 23px;
    margin-right: 0;
  }

  @media (min-width: $vp-320) {
    margin-left: 0;
    margin-right: 23px;
  }
}

.social__instagram-svg {
  fill: #ffffff;

  @media (min-width: $vp-1024) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $vp-768) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $vp-320) {
    width: 16px;
    height: 16px;
  }
}

.social__instagram-svg:hover {
  fill: #7cbcfd;
}

.social__twitter a {
  @media (min-width: $vp-1024) {
    margin-right: 0;
    margin-left: 28px;
  }

  @media (min-width: $vp-768) {
    margin-right: 0;
    margin-left: 23px;
  }

  @media (min-width: $vp-320) {
    margin-left: 0;
    margin-right: 23px;
  }
}

.social__twitter-svg {
  fill: #ffffff;

  @media (min-width: $vp-1024) {
    width: 20px;
    height: 17px;
  }

  @media (min-width: $vp-768) {
    width: 16px;
    height: 13px;
  }

  @media (min-width: $vp-320) {
    width: 16px;
    height: 13px;
  }
}

.social__twitter-svg:hover {
  fill: #7cbcfd;
}
