@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../font/montserrat-regular.woff2") format("woff2"),
    url("../font/montserrat-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../font/montserrat-medium.woff2") format("woff2"),
    url("../font/montserrat-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../font/montserrat-semibold.woff2") format("woff2"),
    url("../font/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../font/montserrat-bold.woff2") format("woff2"),
    url("../font/montserrat-bold.woff") format("woff");
}
